/* bottom controls (apply/reset) */
.knobs__controls {
  display: flex;
  align-items: center;
  opacity: 0;
  flex-direction: row-reverse;
  // border-top: 1px solid var(--textColor);
  margin: var(--side-pad) var(--control-right-pad, var(--side-pad)) var(--side-pad) var(--control-left-pad, var(--side-pad));
  position: relative;
  z-index: 1;

  > input {
    color: var(--textColor);
    border: 0;
    background: none;
    margin-left: 1em;
  }
}

.poweredBy{
  margin-right: auto;
  text-decoration: none;
  color: inherit;
  padding: 3px;
  font-size: 10px;
  opacity: .5;
  transition: .15s;
}

.poweredBy:hover{
  color: var(--primaryColor);
  opacity: 1;
}
