/* wrapper for "color" inputs */
label[data-type="color"]{
  > .knobs__knob__inputWrap{
    & > div{
      display: inline-block;
      border-radius: 5px;
      overflow: hidden;
      width: calc(var(--color-size) * 4);
      height: calc(var(--color-size) - 2px); // same as border
      // transition: .2s var(--in-easing);
      background: var(--background) repeating-conic-gradient(#FFFFFF44 0% 25%, transparent 0% 50%) 0/7px 7px; // checkboard pattern
    }
  }

  &:hover > .knobs__knob__inputWrap > div{
    animation: colorHover .3s ease-out;
   // box-shadow: 0 0 0 1px #FFFFFF66; // needed in case a color is same as knobs background
  }

  input{
    width: 100%;
    height: 100%;
    border: 0;
    background: var(--value);
    color: transparent;
    outline: none;
    caret-color: transparent;
    text-transform: uppercase;
    font-weight: 600;
    &::selection{
      color: transparent;
    }
  }
}

@keyframes colorHover{
  30%{ width: calc(var(--color-size) * 4.5) }
  60%{ width: calc(var(--color-size) * 3.5) }
}