.knobs{
  $self: &;

  @mixin bg-corner-radius($posX, $posY, $radX, $radY){
    &[data-position~='#{$posX}']{
      &[data-position~='#{$posY}']{
        #knobsToggle:checked{
          ~ #{$self}__bg{
            border-#{$radY}-#{$radX}-radius: var(--corner-radius);
          }
        }
      }
    }
  }

  //////////////////////////////////////////
  @include bg-corner-radius(right, top, left, bottom);
  @include bg-corner-radius(left, top, right, bottom);
  @include bg-corner-radius(right, bottom, left, top);
  @include bg-corner-radius(left, bottom, right, top);


  &[data-position~='bottom']{
    #knobsToggle{
      + label{
        top: auto;
        bottom: var(--offset);
      }

      &:checked + label{
        top: auto;
      }
    }

    #{$self}__bg{
      top: auto;
      bottom: 0;
    }


    &[data-position~='right'] #{$self}__controls{
      margin-right: 3.5em;
    }
  }

  //////////////////////////////////////////

  &[data-position~='left']{
    --LTR-Bool: -1;

    #knobsToggle{
      + label{
        right: auto;
        left: var(--offset);
      }

      &:checked + label{
        left: var(--offset);
        right: auto;
      }
    }

    #{$self}__bg{
      right: auto;
      left: 0;
    }

    &[data-position~='bottom']{
      .poweredBy{
        margin-left: 3em;
      }

      #{$self}__bg{
        top: auto;
        right: auto;
        bottom: 0;
        left: 0;
      }

      #knobsToggle{
        + label{
          top: auto;
          right: auto;
          left: var(--offset);
          bottom: var(--offset);
        }
      }
    }
  }
}