#knobsToggle:checked + .knobs{
  &[data-position~='top']{
    .knobs__bg{
      bottom: auto;
    }
  }

  &[data-position~='right']{
    .knobs__bg{
      left: auto;
    }
  }



  &[data-position~='bottom']{
    > label{
      top: auto;
      bottom: var(--offset);
    }

    .knobs__bg{
      top: auto;
    }


    &[data-position~='right']{
      --control-right-pad: var(--toggleSize);
    }
  }



  &[data-position~='left']{
    > label{
      right: auto;
      left: var(--offset);
    }

    .knobs__bg{
      right: auto;
    }

    &[data-position~='bottom']{
      --control-left-pad: var(--toggleSize);
    }
  }
}

.knobs[data-position~='left']{
  --LTR-Bool: -1;
}