.knobs{
  $self: &;

  &[data-position~='top']{
    #{$self}__labels fieldset:first-child {
      margin-top: calc(var(--side-pad) * 2);
    }
  }

  //////////////////////////////////////////

  &[data-position~='bottom']{
    #knobsToggle{
      + label{ top: 0; }

      &:checked + label{
        top: auto;
        bottom: 10px;
      }
    }


    &[data-position~='right'] #{$self}__controls{
      margin-right: 3em;
    }
  }

  //////////////////////////////////////////

  &[data-position~='left']{
    --LTR-Bool: -1;

    #knobsToggle{
      + label{ right: 0; }

      &:checked + label{
        left:0; right:auto;
      }
    }

    &[data-position~='bottom']{
      .poweredBy{
        margin-left: 2em;
      }
    }
  }
}