// https://github.com/yairEO/ui-range
// overrides:
.knobs .range {
  --fill-color: var(--range-track-color);
  --primaryColor: var(--range-value-background);
  --value-active-color: var(--range-track-color);
  --value-background: transparent;
  --progress-color: #444;
  --thumb-size: 20px;
  --track-height: calc(var(--thumb-size)/3);
  --thumb-shadow: 0 0 3px rgba(0,0,0,.2);
  --ticks-thickness: 1px;
  --ticks-height: 0px;
  --show-min-max: none;

  color: transparent;
}