.knobs .switch{
  --color-bg: #444;
  --color-bg-on: #444;
  --thumb-color-off: #d75d4a;
  --thumb-color-on: #4ec964;
  --thumb-scale: 1.33;
  --width-multiplier: 2.5;
  --thumb-animation-pad: 15%;
  --size: 11px;

  input:focus + div{ outline: none; }
}